<!Doctype html>
<html data-ng-app="comment_app">
  <head>
    <title>Comments App</title>
  </head>
  <body>
    <section data-ng-controller="CommentController">
      <p>Free feel to add comments below!</p>
      <ul>
        <li data-ng-repeat="comment in comments">{{comment.text}}</li>
      </ul>
      <input type="text" data-ng-model="newText"/>
      <button data-ng-click="addComments()">Add a comment</button>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>